SwiftUI_MVVM_CleanArchitecture.xcodeproj/project.xcworkspace/xcuserdata/ruehd.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUI_MVVM_CleanArchitecture.xcodeproj/xcuserdata/ruehd.xcuserdatad/xcschemes/xcschememanagement.plist
